* {
    font-family: 'Gowun Dodum', sans-serif;
}

html, body {
    --shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12);
    --shadow-large: 0 30px 60px rgba(0, 0, 0, 0.12);
}

body {
    background: #fff8f9;
}

.section1 {
    color: white;
    width: 100%;
    height: 350px;

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://assets.teenvogue.com/photos/5d34abc9d4f0850008e33d4f/16:9/w_2560%2Cc_limit/GettyImages-584925310.jpg");
    background-size: cover;
    background-position: center 20%;
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.menu_box {
    margin: 5px 0px 0px auto
}

.image_box {
    min-width: 400px;
    height: 200px;
    background-image: url("/static/logo.png");
    background-size: cover;
}

.section1 > .button {
    color: white;
    border-radius: 20px;
    border: solid 1px white;
    background-color: transparent;
    margin-top: 10px;
}

.section1 > .button:hover {
    border: solid 2px white;
    color: white;
    background-color: transparent;
}


.mybtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
}

.mybtns > button {
    margin-right: 10px;
}


.mycommnt {
    color: #333333
}

.wrap {
    max-width: 1200px;
    margin: 20px auto 0 auto;
}

.section2 {
    max-width: 500px;
    height: 450px;
    display: none;
    margin: 20px auto 0 auto;
    box-shadow: 0px 0px 3px 0px gray;
    padding: 20px
}

.btn_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.btn_box > button {
    margin-right: 10px;
}


.writeBtn {
    width: 180px;
    padding: 10px 0;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 10px;
    background: transparent;
    border: solid 1px white;
    color: white;
}

.writeBtn .icon {
    margin-right: 10px;
}

.writeBtn:hover {
    background: white;
    color: #212529;
    border: solid 1px white;
    font-weight: bold;
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.option > a > span {
    font-size: 2rem;
    color: red;
}

.card-box {
    margin-bottom: 25px;
}

.card-box .option {
    visibility: hidden;
}

.card-box:hover > .option {
    visibility: visible;
}

.menu_box > button {
    margin-right: 15px;
}

/* Navigation Bar */
.category {
    width: 80%;

    margin: 20px auto;
    flex-direction: row;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #0c0b0b;

    border-radius: 25px;
}

.category ul {
    margin: 0;
    padding: 0 30px;
    list-style-type: none;
    position: relative;
    display: flex;
    flex: 1 1 auto;
}

.category ul li:not(:last-child) {
    margin-right: 80px;
}

.category ul li {
    width: 200px;
    padding: 10px;
    border: 1px solid transparent;
    transition: background 0.2s;
    border-radius: 5px;
}

.category ul li a {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    text-transform: capitalize;
    text-decoration: none;
    transition: color 0.2s;
}


.category ul li:hover {
    background: linear-gradient(to bottom, #ff6600 0%, #ff0066 100%);
}

.category ul li:hover a {
    color: #fff;
}

.button.is-sparta {
    background-color: #e8344e;
    border-color: transparent;
    color: #fff !important;
}

.button.is-sparta.is-outlined {
    background-color: white;
    border-color: whitesmoke;
    color: #e8344e !important;
}

.help {
    color: gray;
}

